<div *ngIf="!modalService.userModalHiden" class="modal-backdrop animate__animated animate__fadeInDown animate__faster">
  <div id="responsive-modal" class="modal fade show" tabindex="-1"
       role="dialog" aria-labelledby="myModalLabel" style="display: block;">

    <form [formGroup]="saveUserForm" (ngSubmit)="save()">
      <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">

          <div class="modal-header">
            <h4 class="modal-title">Nuevo usuario</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
          </div>

          <div class="modal-body">

              <div class="row mb-3">
                <label class="col-lg-3 col-form-label" for="input-email">Correo electrónico*</label>
                <div class="col-lg-9">
                  <input type="email" class="form-control" id="input-email"
                         [class.is-invalid]="email.invalid && email.touched" autocomplete="off" formControlName="email">
                  <div *ngIf="email.invalid && email.touched" class="invalid-feedback">
                    <div *ngIf="email.errors.required">El correo electrónico es necesario</div>
                    <div *ngIf="email.errors.email">El correo electrónico no es válido</div>
                  </div>
                </div>
              </div>

              <div class="row mb-3">
                <label class="col-lg-3 col-form-label" for="input-password">Contraseña*</label>
                <div class="col-lg-9">
                  <input type="password" class="form-control" id="input-password" formControlName="password"
                         [class.is-invalid]="password.invalid && password.touched">
                  <div *ngIf="password.invalid && password.touched" class="invalid-feedback">
                    <div *ngIf="password.errors.required">La contraseña es necesaria</div>
                    <div *ngIf="password.errors.minlength">La contraseña debe tener mínimo 6 caracteres</div>
                  </div>
                </div>
              </div>

            <div class="row mb-3">
              <label class="col-lg-3 col-form-label" for="input-name">Nombre*</label>
              <div class="col-lg-9">
                <input type="text" class="form-control" id="input-name" autocomplete="off"
                       [class.is-invalid]="name.invalid && name.touched" formControlName="name">
                <div *ngIf="name.invalid && name.touched" class="invalid-feedback">
                  <div *ngIf="name.errors.required">El nombre es necesario</div>
                  <div *ngIf="name.errors.minlength">El nombre no puede ser una letra</div>
                </div>
              </div>
            </div>

              <div class="row mb-3">
                <label class="col-lg-3 col-form-label" for="user_type_id">Tipo de usuario*</label>
                <div class="col-lg-9">
                  <select id="user_type_id" class="form-select" formControlName="user_type_id"
                          [class.is-invalid]="user_type_id.invalid && user_type_id.touched">
                    <option *ngFor="let type of userTypes" [value]="type.uid">{{ type.name }}</option>
                  </select>
                  <div *ngIf="user_type_id.invalid && user_type_id.touched" class="invalid-feedback">
                    <div *ngIf="user_type_id.errors.required">El tipo de usuario es necesario</div>
                  </div>
                </div>
              </div>


            <div class="row mb-3">
              <label class="col-lg-3 col-form-label" for="enable">Estado</label>
              <div class="col-lg-9">
                <select id="enable" class="form-select" formControlName="enable">
                  <option [value]="true">Activo</option>
                  <option [value]="false">Inactivo</option>
                </select>
              </div>
            </div>

                <div class="row mb-3">
                  <label class="col-lg-3 col-form-label" for="input-personal-id">Identificación</label>
                  <div class="col-form-label col-lg-4">
                    <select id="input-personal-id" class="form-select" formControlName="personal_id_type">
                      <option *ngFor="let type of personalIdTypes" [value]="type.uid">{{ type.name }}</option>
                    </select>
                  </div>
                  <div class="col-form-label col-lg-5">
                    <input type="text" class="form-control" id="input-personal-id-type"
                           autocomplete="off" formControlName="personal_id" placeholder="Número">
                  </div>
                </div>

                <div class="row">
                  <label class="col-lg-3 col-form-label" for="input-phone">Teléfono</label>
                  <div class="col-lg-9">
                    <input type="text" class="form-control" id="input-phone"
                           autocomplete="off" formControlName="phone">
                  </div>
                </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()">Cancelar</button>
            <button type="submit" class="btn btn-primary" [disabled]="!saveUserForm.valid">Guardar</button>
          </div>

        </div>
      </div>
    </form>

  </div>
</div>
