<div class="register-container mb-4">
  <h3 class="text-center mb-4">Cuentanos de tu compañía</h3>
  <form [formGroup]="registerForm">

    <div class="mb-3">
      <label class="form-label" for="company-nit">NIT</label>
      <input type="text" class="form-control" id="company-nit" formControlName="nit">
    </div>

    <div class="mb-3">
      <label class="form-label" for="company-name">Nombre*</label>
      <input type="text" class="form-control" id="company-name" [class.is-invalid]="name.invalid && name.touched" formControlName="name">
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
        <div *ngIf="name.errors.required">
          El nombre es necesario
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label" for="company-phone">Teléfono</label>
      <input type="text" class="form-control" id="company-phone" formControlName="phone">
    </div>

    <div class="mb-3">
      <label class="form-label" for="company-address">Dirección</label>
      <input type="text" class="form-control" id="company-address" formControlName="address">
    </div>

  </form>
</div>
