<div class="row my-4 mx-5"><h2>Mi compañia</h2></div>

<div class="row mt-2 px-lg-5">

  <div class="col-md-5 col-xl-5 mb-4">

    <div class="row justify-content-center">
      <img *ngIf="company.logo?.length > 0 && !logoTemp" class="img-picture img-thumbnail" [src]="company.logo" alt="profile">
      <img *ngIf="company.logo?.length > 0 && logoTemp" class="img-picture img-thumbnail" [src]="logoTemp" alt="profile">
      <img *ngIf="company.logo?.length === 0 && !logoTemp" class="img-picture img-thumbnail" src="assets/img/no-logo.png" alt="profile">
      <img *ngIf="company.logo?.length === 0 && logoTemp" class="img-picture img-thumbnail" [src]="logoTemp" alt="profile">
    </div>

    <div class="d-flex justify-content-center my-2"><h4>Logo</h4></div>

    <div class="mt-4" style="width: 300px; margin: 0 auto">

      <div class="d-flex mb-3">
        <div>
          <button class="btn btn-outline-danger" title="Quitar imagen" style="width: 45px; margin-right: 1rem" (click)="deleteLogo()">
            <svg class="bi" width="1em" height="1em" fill="currentColor">
              <use xlink:href="assets/svg/icons.svg#trash-fill"/>
            </svg>
          </button>
        </div>

        <div>
          <span style="width: 45px">
            <span *ngIf="uploading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          </span>
        </div>

        <div>
          <input type="file" class="form-control" id="inputFile" accept="image/*" lang="es" (change)="changeImage($event.target.files[0])">
<!--                    <label class="form-label" for="inputFile" data-browse="Buscar">Subir logo</label>-->
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-5 mb-4">

    <div class="mb-3">
      <label class="form-label" for="input-name">Nombre de la compañia</label>
      <input type="text" class="form-control" [class.is-invalid]="company.name?.length === 0" id="input-name"
             name="company-name" autocomplete="off" [(ngModel)]="company.name">
      <div id="input-name-validation" class="invalid-feedback">El nombre es obligatorio</div>
    </div>

    <div class="mb-3">
      <label class="form-label" for="input-phone">Teléfono</label>
      <input type="text" class="form-control" id="input-phone" autocomplete="off"
             name="company-phone" [(ngModel)]="company.phone">
    </div>

    <div class="mb-3">
      <label class="form-label" for="input-address">Dirección</label>
      <input type="text" class="form-control" id="input-address"
             name="company-address" autocomplete="off" [(ngModel)]="company.address">
    </div>

    <div class="mb-3">
      <label class="form-label" for="input-nit">NIT</label>
      <input type="text" class="form-control" id="input-nit"
             name="company-address" autocomplete="off" [(ngModel)]="company.nit">
    </div>

    <div class="d-flex justify-content-end mt-4">
      <button class="btn btn-primary align-items-end" [disabled]="company.name?.length === 0"
              (click)="updateCompany()">Guardar
      </button>
    </div>
  </div>

  <div class="col-md-1 col-xl-2 mb-4"></div>

</div>
