<form (ngSubmit)="search()" class="my-2 my-lg-0" #searchInput>

  <div class="input-group">

    <input class="form-control" type="search" placeholder="Buscar..." autocomplete="off"
           aria-label="Search" (click)="openSuggest()" name="input-search" [(ngModel)]="query">

    <button class="btn btn-outline-success" type="submit">
      <svg class="bi" width="1em" height="1em" fill="currentColor">
        <use xlink:href="assets/svg/icons.svg#search"/>
      </svg>
    </button>

  </div>

  <div *ngIf="showSuggest" class="search-container-dropdown">

    <p *ngIf="clients.length > 0" class="my-1 mx-2"><b>Clientes: ({{ clients.length }})</b></p>

    <div *ngFor="let client of clients" class="suggest" (click)="navigate('cliente', client.uid)">
      {{client.name}}
    </div>

    <p *ngIf="users.length > 0" class="my-1 mx-2"><b>Usuarios: ({{ users.length }})</b></p>

    <div *ngFor="let user of users" class="suggest" (click)="navigate('usuario', user.uid)">
      {{user.name}}
    </div>
  </div>

</form>
