<div class="observation-card animate__animated animate__fadeInUp animate__faster" [title]="observation.body">

  <div class="observation-body">

    <div class="observation-text">
      {{ observation.body }}
    </div>

    <div class="observation-badges">
          <span class="badge observation-badge"
                [class.bg-success]="!observation.from_lawyer"
                [class.bg-primary]="observation.from_lawyer"
                style="">
                {{ observation.from_lawyer ? 'Recordatorio' : 'Recibido' }}
          </span>
      <span class="observation-date">{{ observation.date | date }}</span>
    </div>

  </div>

  <div class="observation-button">

    <button class="btn btn-outline-danger btn-sm" (click)="delete()">
      <svg class="bi" width="1em" height="1em" fill="currentColor">
        <use xlink:href="assets/svg/icons.svg#trash-fill"/>
      </svg>
    </button>

  </div>

</div>

