.observation-card {
  width: 100%;
  border-radius: 0.25rem;
  border: 1px solid #dee2e6;
  background-color: white;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.observation-body {
  line-height: 1.5em;
  overflow: auto;
  max-height: 7.5em;
}
