.chat-box {
  background-color: #f8fafd;
  width: 100%;
  height: 48.5vh;
  overflow: auto;
  border: 1px solid #dee2e6;
  box-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.1);
}

.input-shadow {
  box-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.1);
}

.rounded {
  height: 50.5vh !important;
  border-radius: 10px 10px 0 0;
}
