<div class="register-container mb-4">
  <form [formGroup]="registerForm">

    <div class="d-flex justify-content-center"><h3 class="mb-4">Cuentanos de ti</h3></div>

    <div class="mb-3">
      <label class="form-label" for="name">Nombre*</label>
      <input type="text" class="form-control" id="name" [class.is-invalid]="name.invalid && name.touched" formControlName="name" autocomplete="off">
      <div *ngIf="name.invalid && name.touched" class="invalid-feedback">
        <div *ngIf="name.errors.required">El nombre es necesario</div>
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label" for="phone">Teléfono</label>
      <input type="text" class="form-control" id="phone" formControlName="phone" autocomplete="off">
    </div>

    <div class="row mb-3 g-3">
      <div class="col-3">
        <label class="form-label" for="personal_id_type">Tipo de id</label>
        <select class="form-select" id="personal_id_type" formControlName="personal_id_type">
          <option *ngFor="let personalIdType of personalIdTypes" [value]="personalIdType.uid">
            {{ personalIdType.name }}
          </option>
        </select>
      </div>
      <div class="col-9">
        <label class="form-label" for="personal_id">Identificación</label>
        <input type="text" class="form-control" id="personal_id" autocomplete="off" formControlName="personal_id" placeholder="Número">
      </div>
    </div>

  </form>
</div>

