<div class="row mt-4">
  <div class="col-12 col-md-4">
    <div class="row">
      <h4 class="text-truncate">{{ process.name }}</h4>
    </div>
    <div class="row">
      <p class="text-truncate">{{ process.description }}</p>
    </div>
    <div class="row">
      <p class="text-truncate"><b>Cliente(s):</b> {{ clientsLabel }}</p>
    </div>
  </div>

  <div class="col-12 col-md-8">
    <div class="row justify-content-around toolbar">
      <p class="text-truncate mx-2 my-1"><b>Código:</b> {{ process.code }}</p>
      <p class="text-truncate mx-2 my-1"><b>Estado:</b> {{ stateName }}</p>
      <a class="text-truncate mx-2 my-1" style="cursor: pointer" (click)="openModal(usersModal)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
          <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
        </svg> Colaboradores
      </a>
      <a class="text-truncate mx-2 my-1" style="cursor: pointer" (click)="openModal(clientsModal)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
          <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
          <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
        </svg> Clientes
      </a>
      <a class="text-truncate mx-2 my-1" style="cursor: pointer" (click)="openModal(optionsModal)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
          <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
        </svg> Opciones
      </a>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-md-4 mt-md-2 mt-4">
    <app-files-box [processId]="params.id" [documentsFromLawyer]="true" [disabled]="!canEdit || stateName === 'Finalizado'"></app-files-box>
  </div>

  <div class="col-md-4 mt-md-2 mt-4">
    <div class="row"><h5>Documentos recibidos ({{ documentsReceived.length }})</h5></div>
    <div class="row">
      <div class="mr-0 mr-md-4 p-2 border justify-content-center files-box">
        <div *ngFor="let document of documentsReceived">
          <app-file-card [document]="document" [disabled]="stateName === 'Finalizado'" (deletedFile)="deleteDocument($event)"></app-file-card>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 mt-md-2 mt-4 px-0">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
          <h6>Observaciones</h6>
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
          <h6>Conversación</h6>
        </a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <app-observations-box [processId]="params.id" [disabled]="stateName === 'Finalizado'"></app-observations-box>
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <app-chat-box *ngIf="process.enable_chat" [processId]="params.id" [reload]="reloadChatBox"></app-chat-box>
        <app-enable-chat-message *ngIf="!process.enable_chat" [processId]="params.id" [disabled]="!owner || stateName === 'Finalizado'" (enabled)="enableChat()"></app-enable-chat-message>
      </div>
    </div>

  </div>

</div>

<ng-template #optionsModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Opciones</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body" style="height: 25rem">
    <div class="form-group row">
      <label for="process-name" class="col-sm-3 col-form-label">Nombre:</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" id="process-name" [class.is-invalid]="process?.name?.length === 0"
               [disabled]="!owner || stateName === 'Finalizado'" autocomplete="off" [(ngModel)]="process.name">
        <div id="invalid-process-name" class="invalid-feedback">El nombre es necesario</div>
      </div>
    </div>
    <div class="form-group row">
      <label for="process-description" class="col-sm-3 col-form-label">Descripción:</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" id="process-description"
               [disabled]="!owner || stateName === 'Finalizado'" autocomplete="off" [(ngModel)]="process.description">
      </div>
    </div>
    <div class="form-group row">
      <label for="process-code" class="col-sm-3 col-form-label">Código</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" id="process-code"
               [disabled]="!owner || stateName === 'Finalizado'" autocomplete="off" [(ngModel)]="process.code">
      </div>
    </div>
    <div class="form-group row">
      <label for="select-state" class="col-sm-3 col-form-label">Estado del caso: </label>
      <div class="col-sm-9">
        <select [disabled]="!owner" class="custom-select" id="select-state" required [(ngModel)]="process.state">
          <option *ngFor="let state of states" [value]="state.uid">
            {{ state.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" [disabled]="!owner || stateName === 'Finalizado'" [(ngModel)]="process.enable_chat">
      <label class="form-check-label" for="exampleCheck1">Habilitar pestaña de conversación</label>
    </div>
    <div class="form-group row">
      <div class="col">
        <button type="button" class="btn btn-outline-danger" [disabled]="!owner || stateName === 'Finalizado'" (click)="deleteMessages()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-right-dots" viewBox="0 0 16 16">
            <path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1H2zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z"/>
            <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
          </svg> Vaciar conversación</button>
      </div>
    </div>

  </div>

  <div class="modal-footer justify-content-between">
    <button class="btn btn-outline-danger" (click)="deleteProcess()" [disabled]="!owner">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
      </svg> Eliminar caso
    </button>
    <button class="btn btn-primary" [disabled]="process?.name?.length === 0 || !owner" (click)="updateProcess()">
      Guardar cambios
    </button>
  </div>
</ng-template>

<ng-template #clientsModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Clientes asociados</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="height: 25rem">

    <div class="form-group row">
      <label for="select-client" class="col-sm-3 col-form-label">Agregar cliente: </label>
      <div class="col-sm-6 col-lg-7">
        <select [disabled]="!canEdit || stateName === 'Finalizado'" class="custom-select" id="select-client" required [(ngModel)]="selectedClient">
          <option *ngFor="let client of totalClients" [value]="client.uid">
            {{ client.personal_id }} - {{ client.name }}
          </option>
        </select>
      </div>
      <div class="col-sm-3 col-lg-2 mt-2 mt-sm-0">
        <button class="btn btn-success" (click)="addClient()" [disabled]="selectedClient===undefined">Agregar</button>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-sm">
        <thead class="thead-light">
          <tr>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Identificación</th>
            <th>Opciones</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let client of currentClients">
            <td>{{ client.name }}</td>
            <td>{{ client.phone }}</td>
            <td>{{ client.personal_id }}</td>
            <td>
              <button class="btn btn-outline-danger btn-sm" [disabled]="!canEdit" (click)="deleteClient(client.uid)">Quitar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <div class="modal-footer justify-content-end">
    <button class="btn btn-primary" (click)="modalRef.hide()">Aceptar</button>
  </div>
</ng-template>

<ng-template #usersModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Colaboradores</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="height: 25rem">

    <div class="form-group row">
      <label for="select-user" class="col-sm-3 col-form-label">Agregar colaborador: </label>
      <div class="col-sm-6 col-lg-7">
        <select [disabled]="!owner || stateName === 'Finalizado'" class="custom-select" id="select-user" required [(ngModel)]="selectedUser">
          <option *ngFor="let user of totalUsers" [value]="user.uid">
            {{ user.personal_id }} - {{ user.name }}
          </option>
        </select>
      </div>
      <div class="col-sm-3 col-lg-2 mt-2 mt-sm-0">
        <button class="btn btn-success" (click)="addUser()" [disabled]="selectedUser===undefined">Agregar</button>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-sm table-hover">
        <thead class="thead-light">
          <tr>
            <th>Nombre</th>
            <th class="text-center"><span tooltip="Permite agregar colaboradores y administrar el proceso" placement="auto">Dueño</span></th>
            <th class="text-center"><span tooltip="Permite agregar clientes y documentos" placement="auto">Editar</span></th>
            <th class="text-center">Opciones</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let up of currentUsers">
            <td>
              <span *ngIf="authService.person.uid === up.user._id" class="badge badge-primary">Yo</span> {{ up.user.name }}
            </td>
            <td class="text-center">
              <input [disabled]="!owner || authService.person.uid === up.user._id" class="form-check-input pointer"
                     type="checkbox" [checked]="up.owner" (change)="updateUser(up.uid, up.user._id, !up.owner, up.can_edit)">
            </td>
            <td class="text-center">
              <input [disabled]="!owner" class="form-check-input pointer" type="checkbox" [checked]="up.can_edit"
                     (change)="updateUser(up.uid, up.user._id, up.owner, !up.can_edit)">
            </td>
            <td class="text-center">
              <button class="btn btn-outline-danger btn-sm" (click)="deleteUser(up.uid, up.user._id)"
                      [disabled]="(authService.person.uid !== up.user._id && !owner) || (authService.person.uid === up.user._id && owner)">
                {{ authService.person.uid === up.user._id? 'Salir': 'Quitar' }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <div class="modal-footer justify-content-end">
    <button class="btn btn-primary" (click)="modalRef.hide()">Aceptar</button>
  </div>
</ng-template>
