<div class="row mt-4">
  <div class="col-12 col-md-4">
    <h4 class="text-truncate">{{ process.name }}</h4>
    <p class="text-truncate">{{ process.description }}</p>
    <p class="text-truncate"><b>Cliente(s):</b> {{ clientsLabel }}</p>
  </div>

  <div class="col-12 col-md-8">
    <div class="toolbar">
      <p class="text-truncate mb-0"><b>Código:</b> {{ process.code }}</p>
      <p class="text-truncate mb-0"><b>Estado:</b> {{ stateName }}</p>
      <a class="text-truncate custom-link" (click)="openModal(usersModal)">
        <svg class="bi" width="1em" height="1em" fill="currentColor">
          <use xlink:href="assets/svg/icons.svg#person-plus-fill"/>
        </svg> Colaboradores
      </a>
      <a class="text-truncate mb-0 custom-link" (click)="openModal(clientsModal)">
        <svg class="bi" width="1em" height="1em" fill="currentColor">
          <use xlink:href="assets/svg/icons.svg#people-fill"/>
        </svg> Clientes
      </a>
      <a class="text-truncate mb-0 custom-link" (click)="openModal(optionsModal)">
        <svg class="bi" width="1em" height="1em" fill="currentColor">
          <use xlink:href="assets/svg/icons.svg#gear-fill"/>
        </svg> Opciones
      </a>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-md-4 mt-md-2 mt-4">
    <app-files-box [processId]="params.id" [documentsFromLawyer]="true" [disabled]="!canEdit || stateName === 'Finalizado'"></app-files-box>
  </div>

  <div class="col-md-4 mt-md-2 mt-4">
    <div><h5>Documentos recibidos ({{ documentsReceived.length }})</h5></div>
    <div>
      <div class="mr-0 mr-md-4 border justify-content-center files-box">
        <div *ngFor="let document of documentsReceived">
          <app-file-card [document]="document" [disabled]="stateName === 'Finalizado'" (deletedFile)="deleteDocument($event)"></app-file-card>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 mt-md-2 mt-4">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="observations-tab" data-bs-toggle="tab" data-bs-target="#observations" type="button" role="tab" aria-controls="observations" aria-selected="true">Observaciones</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="conversations-tab" data-bs-toggle="tab" data-bs-target="#conversations" type="button" role="tab" aria-controls="conversations" aria-selected="false">Conversación</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="observations" role="tabpanel" aria-labelledby="home-tab">
        <app-observations-box [processId]="params.id" [disabled]="stateName === 'Finalizado'"></app-observations-box>
      </div>
      <div class="tab-pane fade" id="conversations" role="tabpanel" aria-labelledby="conversations-tab">
        <app-chat-box *ngIf="process.enable_chat" [processId]="params.id" [reload]="reloadChatBox"></app-chat-box>
        <app-enable-chat-message *ngIf="!process.enable_chat" [processId]="params.id" [disabled]="!owner || stateName === 'Finalizado'" (enabled)="enableChat()"></app-enable-chat-message>
      </div>
    </div>

  </div>

</div>

<ng-template #optionsModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Opciones</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modalRef.hide()"></button>
  </div>

  <div class="modal-body" style="height: 25rem">
    <div class="row mb-3">
      <label for="process-name" class="col-sm-3 col-form-label">Nombre:</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" id="process-name" [class.is-invalid]="process?.name?.length === 0"
               [disabled]="!owner || stateName === 'Finalizado'" autocomplete="off" [(ngModel)]="process.name">
        <div id="invalid-process-name" class="invalid-feedback">El nombre es necesario</div>
      </div>
    </div>
    <div class="row mb-3">
      <label for="process-description" class="col-sm-3 col-form-label">Descripción:</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" id="process-description"
               [disabled]="!owner || stateName === 'Finalizado'" autocomplete="off" [(ngModel)]="process.description">
      </div>
    </div>
    <div class="row mb-3">
      <label for="process-code" class="col-sm-3 col-form-label">Código</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" id="process-code"
               [disabled]="!owner || stateName === 'Finalizado'" autocomplete="off" [(ngModel)]="process.code">
      </div>
    </div>
    <div class="row mb-3">
      <label for="select-state" class="col-sm-3 col-form-label">Estado del caso: </label>
      <div class="col-sm-9">
        <select [disabled]="!owner" class="form-select" id="select-state" required [(ngModel)]="process.state">
          <option *ngFor="let state of states" [value]="state.uid">
            {{ state.name }}
          </option>
        </select>
      </div>
    </div>

    <fieldset>
      <legend>Conversación</legend>
      <div class="form-group form-check mb-3">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" [disabled]="!owner || stateName === 'Finalizado'" [(ngModel)]="process.enable_chat">
        <label class="form-check-label" for="exampleCheck1">Habilitar pestaña de conversación</label>
      </div>
      <div class="form-group row">
        <div class="col">
          <button type="button" class="btn btn-outline-danger" [disabled]="!owner || stateName === 'Finalizado'" (click)="deleteMessages()">
            <svg class="bi" width="1em" height="1em" fill="currentColor">
              <use xlink:href="assets/svg/icons.svg#chat-right-dots"/>
            </svg> Vaciar conversación</button>
        </div>
      </div>
    </fieldset>

  </div>

  <div class="modal-footer justify-content-between">
    <button class="btn btn-outline-danger" (click)="deleteProcess()" [disabled]="!owner">
      <svg class="bi" width="1em" height="1em" fill="currentColor">
        <use xlink:href="assets/svg/icons.svg#trash-fill"/>
      </svg> Eliminar caso
    </button>
    <button class="btn btn-primary" [disabled]="process?.name?.length === 0 || !owner" (click)="updateProcess()">
      Guardar cambios
    </button>
  </div>
</ng-template>

<ng-template #clientsModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Clientes asociados</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modalRef.hide()"></button>
  </div>
  <div class="modal-body" style="height: 25rem">

    <div class="row mb-3">
      <label for="select-client" class="col-sm-3 col-form-label">Agregar cliente: </label>
      <div class="col-sm-6 col-lg-7">
        <select [disabled]="!canEdit || stateName === 'Finalizado'" class="form-select" id="select-client" required [(ngModel)]="selectedClient">
          <option *ngFor="let client of totalClients" [value]="client.uid">
            {{ client.personal_id }} - {{ client.name }}
          </option>
        </select>
      </div>
      <div class="col-sm-3 col-lg-2 mt-2 mt-sm-0">
        <button class="btn btn-success" (click)="addClient()" [disabled]="selectedClient===undefined">Agregar</button>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-sm">
        <thead class="thead-light">
          <tr>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Identificación</th>
            <th>Opciones</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let client of currentClients">
            <td>{{ client.name }}</td>
            <td>{{ client.phone }}</td>
            <td>{{ client.personal_id }}</td>
            <td>
              <button class="btn btn-outline-danger btn-sm" [disabled]="!canEdit" (click)="deleteClient(client.uid)">Quitar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <div class="modal-footer justify-content-end">
    <button class="btn btn-primary" (click)="modalRef.hide()">Aceptar</button>
  </div>
</ng-template>

<ng-template #usersModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Colaboradores</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modalRef.hide()"></button>
  </div>
  <div class="modal-body" style="height: 25rem">

    <div class="row mb-3">
      <label for="select-user" class="col-sm-3 col-form-label">Agregar colaborador: </label>
      <div class="col-sm-6 col-lg-7">
        <select [disabled]="!owner || stateName === 'Finalizado'" class="form-select" id="select-user" required [(ngModel)]="selectedUser">
          <option *ngFor="let user of totalUsers" [value]="user.uid">
            {{ user.personal_id }} - {{ user.name }}
          </option>
        </select>
      </div>
      <div class="col-sm-3 col-lg-2 mt-2 mt-sm-0">
        <button class="btn btn-success" (click)="addUser()" [disabled]="selectedUser===undefined">Agregar</button>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-sm table-hover">
        <thead class="thead-light">
          <tr>
            <th>Nombre</th>
            <th class="text-center"><span tooltip="Permite agregar colaboradores y administrar el proceso" placement="auto">Dueño</span></th>
            <th class="text-center"><span tooltip="Permite agregar clientes y documentos" placement="auto">Editar</span></th>
            <th class="text-center">Opciones</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let up of currentUsers">
            <td>
              <span *ngIf="authService.person.uid === up.user._id" class="badge bg-primary">Yo</span> {{ up.user.name }}
            </td>
            <td class="text-center">
              <input [disabled]="!owner || authService.person.uid === up.user._id" class="form-check-input pointer"
                     type="checkbox" [checked]="up.owner" (change)="updateUser(up.uid, up.user._id, !up.owner, up.can_edit)">
            </td>
            <td class="text-center">
              <input [disabled]="!owner" class="form-check-input pointer" type="checkbox" [checked]="up.can_edit"
                     (change)="updateUser(up.uid, up.user._id, up.owner, !up.can_edit)">
            </td>
            <td class="text-center">
              <button class="btn btn-outline-danger btn-sm" (click)="deleteUser(up.uid, up.user._id)"
                      [disabled]="(authService.person.uid !== up.user._id && !owner) || (authService.person.uid === up.user._id && owner)">
                {{ authService.person.uid === up.user._id? 'Salir': 'Quitar' }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <div class="modal-footer justify-content-end">
    <button class="btn btn-primary" (click)="modalRef.hide()">Aceptar</button>
  </div>
</ng-template>
