.toolbar{
  background-color: var(--color-white);
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.files-box {
  display: grid;
  align-content: start;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: minmax(auto, auto);
  grid-gap: 10px;
  background-color: var(--color-grey-dark);
  width: 100%;
  height: 57vh;
  overflow: auto;
  border-radius: 10px;
  border: var(--box-border);
  padding: 0.5rem;
  box-shadow: var(--shadow);
}

.custom-link {
  text-decoration: none;
  cursor: pointer;
}
