<div class="col">

  <div class="row mt-5 mb-3 justify-content-between">
    <h4>Clientes</h4>
    <button type="button" class="btn btn-success" (click)="openModal()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
        <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
      </svg> Agregar
    </button>
  </div>

  <div *ngIf="clients.length > 0 && !noData" class="home-client-list">
    <div *ngFor="let client of clients">
      <app-client-card [client]="client" url="./cliente"></app-client-card>
    </div>
  </div>

  <div *ngIf="clients.length === 0 && noData" class="home-client-list">
    <p>No hay clientes actualmente</p>
  </div>

</div>
