<div class="col">

  <div class="title-home-client mt-5 mb-3">
    <h4>Clientes</h4>
    <button type="button" title="Crear nuevo cliente" class="btn btn-success" (click)="openModal()">
      <svg class="bi" width="1em" height="1em" fill="currentColor">
        <use xlink:href="assets/svg/icons.svg#person-plus-fill"/>
      </svg> Agregar
    </button>
  </div>

  <div *ngIf="clients.length > 0 && !noData" class="home-client-list">
    <div *ngFor="let client of clients">
      <app-client-card [client]="client" url="./cliente"></app-client-card>
    </div>
  </div>

  <div *ngIf="clients.length === 0 && noData" class="home-client-list">
    <p>No hay clientes actualmente</p>
  </div>

</div>
