.background {
  background-color: #072a45;
  padding-top: 3rem;
  padding-bottom: 3rem;
  height: 100vh;
  width: 100vw;
}

.reset-password-container {
  background-color: white;
  max-width: 430px !important;
  border: 1px solid #dee2e6;
  margin: auto;
  padding: 1.5rem;
  border-radius: 10px;
  /*box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.3);*/
  box-shadow: 0 1rem 2rem rgba(10,10,10, .2);
}
