<div class="row mt-4">
  <div class="col-12 col-md-4">
    <div class="row">
      <h4 class="text-truncate">{{ process.name }}</h4>
    </div>
    <div class="row">
      <p class="text-truncate">{{ process.description }}</p>
    </div>
    <div class="row">
      <p class="text-truncate"><b>Cliente(s):</b> {{ clientsLabel }}</p>
    </div>
  </div>

  <div class="col-12 col-md-8">
    <div class="row justify-content-around" style="background-color: #f7f7f7; border-radius: 10px;">
      <p class="text-truncate"><b>Código:</b> {{ process.code }}</p>
      <p class="text-truncate"><b>Estado:</b> {{ stateName }}</p>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-md-8 mt-md-2 mt-8">
    <app-files-box [processId]="params.id" [disabled]="stateName === 'Finalizado'" [documentsFromLawyer]="false"></app-files-box>
  </div>

  <div class="col-md-4 mt-md-2 mt-4">
    <div><h5 *ngIf="!process.enable_chat || stateName === 'Finalizado'" [class.text-muted]="!process.enable_chat || stateName === 'Finalizado'">(Conversación no disponible)</h5></div>
    <div *ngIf="!process.enable_chat || stateName === 'Finalizado'" class="disabled-chat">
      <img src="/assets/svg/undraw_Add_notes_re_ln36.svg" class="my-3" style="max-width: 170px" alt="empty">
    </div>
    <div><h5 *ngIf="process.enable_chat && stateName !== 'Finalizado'">Conversación</h5></div>
    <app-chat-box *ngIf="process.enable_chat && stateName !== 'Finalizado'" [processId]="params.id" [rounded]="true"></app-chat-box>
  </div>

</div>
