<div class="row my-4 mx-5"><h2>Mis datos</h2></div>

<div class="row mt-2 px-lg-5">

  <div class="col-md-5 col-xl-5 mb-4">

    <div class="row justify-content-center">
      <img *ngIf="person.photo_url?.length > 0 && !imgTemp" class="img-picture img-thumbnail" [src]="person.photo_url" alt="profile">
      <img *ngIf="person.photo_url?.length > 0 && imgTemp" class="img-picture img-thumbnail" [src]="imgTemp" alt="profile">
      <img *ngIf="person.photo_url?.length === 0 && !imgTemp" class="img-picture img-thumbnail" src="assets/img/no-avatar.jpg" alt="profile">
      <img *ngIf="person.photo_url?.length === 0 && imgTemp" class="img-picture img-thumbnail" [src]="imgTemp" alt="profile">
    </div>

    <div class="mt-4" style="width: 300px; margin: 0 auto">

      <div class="d-flex mb-3">
        <div>
          <button class="btn btn-outline-danger" title="Borrar foto" style="width: 45px; margin-right: 1rem" (click)="deletePicture()">
            <svg class="bi" width="1em" height="1em" fill="currentColor">
              <use xlink:href="assets/svg/icons.svg#trash-fill"/>
            </svg>
          </button>
        </div>

        <div>
          <span style="width: 45px">
            <span *ngIf="uploading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          </span>
        </div>

        <div>
          <input type="file" class="form-control" id="inputFile" accept="image/*" lang="es" (change)="changeImage($event.target.files[0])">
          <!--          <label class="form-label" for="inputFile" data-browse="Cambiar">Mi foto</label>-->
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-5 mb-4">

    <div class="mb-3">
      <label class="form-label" for="input-name">Nombre</label>
      <input type="text" class="form-control" [class.is-invalid]="person.name?.length === 0" id="input-name"
             name="person-name" autocomplete="off" [(ngModel)]="person.name">
      <div id="input-name-validation" class="invalid-feedback">El nombre es obligatorio</div>
    </div>

    <div class="mb-3">
      <label class="form-label" for="input-email">Correo electrónico
        <svg *ngIf="person.verified_email" class="bi" width="1em" height="1em" fill="green">
          <use xlink:href="assets/svg/icons.svg#check2-circle"/>
        </svg>
        <small *ngIf="person.verified_email" title="Este correo se encuentra verificado" class="text-success">
          Verificado
        </small>
      </label>

      <div class="mb-3" [class.input-group]="!person.verified_email">
        <input type="text" class="form-control" [class.is-invalid]="person.email?.length === 0" id="input-email"
               name="person-email" autocomplete="off" [(ngModel)]="person.email">
<!--        <div class="input-group-append">-->
          <button *ngIf="!person.verified_email" title="Enviar enlace al correo" class="btn btn-outline-success"
                   type="button" [disabled]="loadingButton" (click)="verifyEmail()">
            <span *ngIf="loadingButton" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span *ngIf="loadingButton" class="sr-only"></span> Verificar
          </button>
<!--        </div>-->
        <div id="input-email-validation" class="invalid-feedback">El correo electrónico es obligatorio</div>
      </div>
    </div>

    <div class="mb-3 row">
      <div class="col-md-4">
        <label class="form-label" for="input-personal-id">Tipo</label>
        <select id="input-personal-id" class="form-select" [(ngModel)]="person.personal_id_type">
          <option *ngFor="let type of personalIdTypes" [value]="type.uid">{{ type.name }}</option>
        </select>
      </div>
      <div class="col-md-8">
        <label class="form-label" for="input-personal-id-type">Número de identificación</label>
        <input type="text" class="form-control" id="input-personal-id-type" autocomplete="off"
               name="client-personal-id" [(ngModel)]="person.personal_id">
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label" for="input-phone">Teléfono</label>
      <input type="text" class="form-control" id="input-phone" autocomplete="off"
             name="person-phone" [(ngModel)]="person.phone">
    </div>

    <div class="mb-3">
      <label class="form-label" for="input-bio">Sobre mi</label>
      <textarea class="form-control" id="input-bio" rows="2" name="person-bio" [(ngModel)]="person.bio"></textarea>
    </div>

    <div class="d-flex justify-content-between">
      <button class="btn btn-outline-primary mb-2" (click)="openModal(passwordModal)">Cambiar contraseña</button>
      <button class="btn btn-primary align-items-end mb-2" [disabled]="person.name?.length === 0 || person.email?.length === 0"
              (click)="updatePerson()">Guardar
      </button>
    </div>
  </div>

  <div class="col-md-1 col-xl-2 mb-4"></div>

</div>

<ng-template #passwordModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Cambiar la contraseña</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modalRef.hide()"></button>
  </div>

  <div class="modal-body" style="height: 25rem">

    <div class="mb-3">
      <label class="form-label" for="input-current-password">Contraseña actual</label>
      <input type="password" class="form-control" id="input-current-password"
             name="person-current-password" [(ngModel)]="currentPassword">
    </div>

    <div class="mb-3">
      <label class="form-label" for="input-new-password-1">Nueva contraseña</label>
      <input type="password" class="form-control" id="input-new-password-1"
             name="person-new-password-1" [(ngModel)]="newPassword1">
    </div>

    <div>
      <label class="form-label" for="input-new-password-2">Confirma la contraseña</label>
      <input type="password" class="form-control" id="input-new-password-2"
             name="person-new-password-2" [(ngModel)]="newPassword2">
    </div>

  </div>

  <div class="modal-footer justify-content-end">
    <button class="btn btn-primary" [disabled]="!validatePasswords()" (click)="updatePasword()">Actualizar</button>
  </div>

</ng-template>
