<!--<div><h5>Observaciones ({{ observations.length }})</h5></div>-->

<div class="px-2 observation-box" [class.rounded]="rounded">
  <div *ngFor="let observation of observations">
    <app-observation [observation]="observation" (deleteObservation)="deleteObservation($event)"></app-observation>
  </div>
</div>

<form class="input-group mb-3" (ngSubmit)="addObservation()">

  <input type="text" class="form-control input-shadow" placeholder="Nueva observación..." [disabled]="disabled"
         aria-label="Nueva observación..." aria-describedby="button-save-observation"
         autocomplete="off" name="observation-body" [(ngModel)]="newObservation.body">
  <div class="input-group-append input-shadow">
    <button class="btn btn-success" type="submit" id="button-save-observation"
            [disabled]="newObservation.body.length === 0 || disabled">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cursor-fill" viewBox="0 0 16 16">
        <path d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103z"/>
      </svg>
    </button>
  </div>

</form>
