<div class="row mt-5 px-md-4">

  <div class="col-md-6 mb-4 pr-md-5">

    <h3 class="mb-3">Detalles del cliente</h3>

    <div class="form-row align-items-center">
      <div class="m-1">
        <img *ngIf="client.photo_url?.length > 0" class="img-picture img-thumbnail" [src]="client.photo_url" alt="profile">
        <img *ngIf="client.photo_url?.length === 0" class="img-picture img-thumbnail" src="assets/img/no-avatar.jpg" alt="profile">
      </div>
      <div>
        <h4 class="font-italic font-weight-light ml-3 my-3">{{ client.name }}</h4>
      </div>
    </div>

    <table class="table mt-3">
      <tbody>
      <tr>
        <th scope="row">{{ personalIdName }}: </th>
        <td>{{ client.personal_id.length > 0? client.personal_id: "(Sin datos)"}}</td>
      </tr>
      <tr>
        <th scope="row">Teléfono:</th>
        <td>{{ client.phone.length > 0? client.phone: "(Sin datos)"}}</td>
      </tr>
      <tr>
        <th scope="row">Correo electrónico:</th>
        <td>{{ client.email.length > 0? client.email: "(Sin datos)"}}</td>
      </tr>
      <tr>
        <th scope="row">Sobre mi:</th>
        <td>{{ client.bio.length > 0? client.bio: "(Sin datos)"}}</td>
      </tr>
      </tbody>
    </table>

    <div class="row justify-content-between px-3">
      <button class="btn btn-outline-danger align-items-end" (click)="deleteClient()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
          <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
        </svg> Eliminar
      </button>
<!--      <button class="btn btn-primary align-items-end" [disabled]="client?.name?.length === 0" (click)="updateClient()">-->
<!--        Actualizar datos-->
<!--      </button>-->
    </div>

  </div>

  <div class="col-md-6 mb-4">
    <h3 class="mb-4">Procesos asociados</h3>
    <div *ngIf="processes?.length === 0 && !noData" class="text-center" style="width: 100%; padding: 3rem">
      <p>Buscando procesos asociados...</p>
    </div>
    <div *ngIf="processes?.length === 0 && noData" class="text-center" style="width: 100%; padding: 3rem">
      <img src="/assets/svg/undraw_empty_xct9.svg" style="max-width: 250px" class="my-4" alt="empty">
      <p>No tienes procesos con el cliente actualmente</p>
    </div>
    <div *ngIf="processes?.length > 0" class="processes-box">
      <div *ngFor="let process of processes">
        <app-case-card [process]="process" url="../../proceso"></app-case-card>
      </div>
    </div>
  </div>

</div>
