<div class="row mt-5 px-md-4">

  <div class="col-md-6 mb-4 pr-md-5">

    <h3 class="mb-3">Detalles del cliente</h3>

    <div class="d-flex align-items-center">
      <div class="m-1">
        <img *ngIf="client.photo_url?.length > 0" class="img-picture img-thumbnail" [src]="client.photo_url" alt="profile">
        <img *ngIf="client.photo_url?.length === 0" class="img-picture img-thumbnail" src="assets/img/no-avatar.jpg" alt="profile">
      </div>
      <div>
        <h4 class="fst-italic fw-light ms-3 my-3">{{ client.name }}</h4>
      </div>
    </div>

    <table class="table mt-3 custom-table">
      <tbody>
      <tr>
        <th scope="row">{{ personalIdName }}: </th>
        <td>{{ client.personal_id?.length > 0? client.personal_id: "(Sin datos)"}}</td>
      </tr>
      <tr>
        <th scope="row">Teléfono:</th>
        <td>{{ client.phone?.length > 0? client.phone: "(Sin datos)"}}</td>
      </tr>
      <tr>
        <th scope="row">Correo electrónico:</th>
        <td>{{ client.email?.length > 0? client.email: "(Sin datos)"}}</td>
      </tr>
      <tr>
        <th scope="row">Sobre mi:</th>
        <td>{{ client.bio?.length > 0? client.bio: "(Sin datos)"}}</td>
      </tr>
      </tbody>
    </table>

    <div class="">
      <button class="btn btn-outline-danger align-items-end" (click)="deleteClient()">
        <svg class="bi" width="1em" height="1em" fill="currentColor">
          <use xlink:href="assets/svg/icons.svg#trash-fill"/>
        </svg> Eliminar
      </button>
<!--      <button class="btn btn-primary align-items-end" [disabled]="client?.name?.length === 0" (click)="updateClient()">-->
<!--        Actualizar datos-->
<!--      </button>-->
    </div>

  </div>

  <div class="col-md-6 mb-4">
    <h3 class="mb-4">Procesos asociados</h3>
    <div *ngIf="processes?.length === 0 && !noData" class="text-center" style="width: 100%; padding: 3rem">
      <p>Buscando procesos asociados...</p>
    </div>
    <div *ngIf="processes?.length === 0 && noData" class="text-center" style="width: 100%; padding: 3rem">
      <img src="/assets/svg/undraw_empty_xct9.svg" style="max-width: 250px" class="my-4" alt="empty">
      <p>No tienes procesos con el cliente actualmente</p>
    </div>
    <div *ngIf="processes?.length > 0" class="processes-box">
      <div *ngFor="let process of processes">
        <app-case-card [process]="process" url="../../proceso"></app-case-card>
      </div>
    </div>
  </div>

</div>
