<div class="row mt-4 mb-3 px-3 justify-content-start">
  <h3>Mis procesos legales</h3>
</div>

<div *ngIf="processes?.length === 0 && !noData">
  <div class="text-center" style="width: 100%">
    <h5 class="my-5">Buscando procesos...</h5>
  </div>
</div>

<div *ngIf="processes?.length === 0 && noData">
  <div class="text-center" style="width: 100%; padding: 3rem">
    <img src="/assets/svg/undraw_No_data_re_kwbl.svg" class="my-3" style="max-width: 200px" alt="empty">
    <h5 class="my-5">No hay procesos actualmente</h5>
  </div>
</div>

<div *ngIf="processes?.length > 0" class="table-responsive">
  <table class="table table-hover">
    <thead class="thead-light">
    <tr>
      <th>Nombre</th>
      <th>Código</th>
      <th>Descripción</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let process of processes" [routerLink]="[ '../proceso', process.uid ]" style="cursor: pointer">
      <td>{{ process?.name }}</td>
      <td>{{ process?.code }}</td>
      <td>{{ process?.description }}</td>
    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="processes?.length > 0" class="row justify-content-between px-3">

  <nav aria-label="Client page navigation">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" (click)="changePage(this.page - 1)" aria-label="Anterior">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"
          *ngFor="let item of [].constructor(totalPages); let i = index"
          [class.active]="this.page === i + 1">
        <a class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</a>
      </li>
      <li class="page-item">
        <a class="page-link" (click)="changePage(this.page + 1)" aria-label="Siguiente">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>

  <p>{{ from }} a {{ to }} de {{ totalCount }}</p>

</div>
