<div class="d-flex justify-content-between">
<!--  <h5>{{ title }} ({{ documents.length }})</h5>-->
<!--  <button *ngIf="enableUploadFiles" class="btn btn-primary btn-sm" style="height: 1.8rem" (click)="openModal(uploadFileModal)">Subir</button>-->
    <h5 *ngIf="documentsFromLawyer">Documentos ({{ documents.length }})</h5>
    <h5 *ngIf="!documentsFromLawyer">Mis documentos enviados ({{ documents.length }})</h5>
    <button *ngIf="!disabled" class="btn btn-primary btn-sm" title="Subir nuevo documento" style="height: 1.8rem" (click)="openModal(uploadFileModal)">Subir</button>
</div>

<div class="me-0 me-md-4 justify-content-center files-box">
<!--  <div *ngFor="let document of documents">-->
<!--    <app-file-card [document]="document" (deletedFile)="deleteDocument($event)" (reloadOutput)="reloadDocuments()"></app-file-card>-->
<!--  </div> -->
  <div *ngFor="let document of documents">
      <app-file-card [document]="document" [disabled]="disabled" (deletedFile)="deleteDocument($event)"></app-file-card>
    </div>

</div>

<ng-template #uploadFileModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Agregar documento</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeFileModal()"></button>
  </div>
  <div class="modal-body" style="height: 25rem">
    <div class="row mb-3">
      <label for="document-name" class="col-sm-3 col-form-label">Título:</label>
      <div class="col-sm-9">
        <input class="form-control form-control" type="text" id="document-name" [(ngModel)]="newDocument.title"
               autocomplete="off" placeholder="Nombre del archivo">
      </div>
    </div>
    <div class="row mb-3">
      <label for="document-description" class="col-sm-3 col-form-label">Descripción:</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" id="document-description"
               autocomplete="off" [(ngModel)]="newDocument.description">
      </div>
    </div>
    <div class="row mb-3">
      <label for="document-url" class="col-sm-3 col-form-label">Subir:</label>
      <div class="col-sm-9">
        <input class="form-control" type="file" id="document-url" (change)="selectFile($event.target.files[0])">
      </div>
    </div>

    <div *ngIf="newFile">

      <div class="pb-4">
        <svg class="bi" width="60" height="60" fill="currentColor">
          <use xlink:href="assets/svg/icons.svg#file-earmark-check"/>
        </svg>
      </div>

      <div class="progress">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="percentUpload + '%'"
             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

  </div>

  <div class="modal-footer justify-content-end">
    <button class="btn btn-primary" (click)="uploadFile()" [disabled]="!newFile">Agregar</button>
  </div>
</ng-template>
