<div class="d-flex mx-1 my-2 client-card" [title]="client.name" [routerLink]="[ url, client.uid ]">

  <div class="avatar">
    <img *ngIf="client.photo_url?.length > 0" class="img-avatar" [src]="client.photo_url" alt="profile">
    <svg *ngIf="client.photo_url?.length === 0" class="bi" width="45" height="45" fill="currentColor">
      <use xlink:href="assets/svg/icons.svg#person-fill"/>
    </svg>
  </div>

  <div style="overflow: hidden; display: flex; flex-direction: column; justify-content: space-evenly; flex-grow: 1; padding-left: 1rem">
    <div class="text-truncate"><b>{{ client.name }}</b></div>
    <div class="text-truncate">{{ client.phone }}</div>
  </div>

</div>
