<div class="background">
  <div id="stepper1" class="bs-stepper">
    <div class="bs-stepper-header">
      <div class="step" data-target="#test-l-1">
        <button class="step-trigger">
          <span class="bs-stepper-circle">1</span>
          <span class="bs-stepper-label" style="color: white">Registrate</span>
        </button>
      </div>
      <div class="line" style="background-color: #888"></div>
      <div class="step" data-target="#test-l-2">
        <button class="step-trigger">
          <span class="bs-stepper-circle">2</span>
          <span class="bs-stepper-label" style="color: white">Sobre ti</span>
        </button>
      </div>
      <div class="line" style="background-color: #888"></div>
      <div class="step" data-target="#test-l-3">
        <button class="step-trigger">
          <span class="bs-stepper-circle">3</span>
          <span class="bs-stepper-label" style="color: white">Sobre tu compañía</span>
        </button>
      </div>
    </div>
    <div class="bs-stepper-content">
      <form>
        <div id="test-l-1" class="content">
          <div class="d-flex justify-content-center">
            <app-register-user></app-register-user>
          </div>
          <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary my-1" [disabled]="(!RSService.registerUserForm.valid)
                    || (RSService.registerUserForm.get('password1').value
                    !== RSService.registerUserForm.get('password2').value)" (click)="next()">
              Continuar <svg class="bi" width="1em" height="1em" fill="currentColor">
              <use xlink:href="assets/svg/icons.svg#arrow-right"/>
            </svg>
            </button>
          </div>
        </div>
        <div id="test-l-2" class="content">
          <div class="d-flex justify-content-center">
            <app-register-user-details></app-register-user-details>
          </div>
          <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-primary my-1" (click)="previus()">Volver</button>
            <button type="button" class="btn btn-primary my-1" [disabled]="!RSService.registerUserDetailsForm.valid" (click)="next()">
              Continuar <svg class="bi" width="1em" height="1em" fill="currentColor">
              <use xlink:href="assets/svg/icons.svg#arrow-right"/>
            </svg>
            </button>
          </div>
        </div>
        <div id="test-l-3" class="content">
          <div class="alert alert-danger" role="alert" *ngIf="showError">{{ error }}</div>
          <div class="d-flex justify-content-center">
            <app-register-company></app-register-company>
          </div>
          <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-primary my-1" (click)="previus()">Volver</button>
            <button type="button" class="btn btn-primary my-1" [disabled]="!RSService.registerCompanyForm.valid" (click)="register()">
              Registrarme <svg class="bi" width="1em" height="1em" fill="currentColor">
              <use xlink:href="assets/svg/icons.svg#arrow-right"/>
            </svg>
            </button>
          </div>
        </div>
        <div class="text-center">
          <p style="color: white">¿Ya tienes cuenta? <a routerLink="../login">Iniciar sesión</a></p>
        </div>
      </form>
    </div>
  </div>
</div>
